body{
	font-family: arial;
	font-size: 80%;
	line-height: 1.2em;
	width: 100%;
	padding: 0;
	background: #eee;
	min-width: 700px;
}
.startPage-hyperLink
{
float:left;
color: grey;
cursor:pointer;
text-decoration: underline;
padding-top:25px;
}
.landinPage-page{ padding: 20px; }

.startPage-topContent{
	padding-top: 20px;
	padding-left:10px;
	width:1210px;
	background: white;
	border:2px solid #D0D0D0;
	clear: both;
	padding-bottom:20px;	
}
.landinPage-topContent{
	padding: 20px 0;
	background: white;
	width:100%;
	clear: both;
	padding-bottom:20px;	
}
.landinPage-clearSpace{
	padding: 20px 0;
	clear: both;
	padding-bottom:5px;	
	clear: both;
}
.landinPage-logo{
	float:left;
	height:40px;
	width:242px;
	padding-right:20px;
	border:none;	
	background-image: url("LOGO.png");
    background-repeat: no-repeat;
	}
.landinPage-login{
	float:right;
	height:30px;
	width:100px;
	border:none;
	cursor:pointer;
	padding-right:10px;
	padding-bottom:10px;
	background-image: url("login.png");
	background-repeat: no-repeat;
	}
.startPage-investorImg{
	float:left;
	padding-left:600px;
	background-size: 250px 150px;
	height:170px;
	background-image: url("Start_Investor.jpg");
    background-repeat: no-repeat;
	}
.startPage-EntrepreneurImg{
	float:left;
	padding-left:600px;
	background-size: 250px 150px;
	height:170px;
	background-image: url("Start_Entrepreneur.jpg");
    background-repeat: no-repeat;
	}
.startPage-InvLogin{
	float:right;
	padding-right:250px;
	background-size: 200px 70px;
	height:170px;
	background-image: url("logon_inv.png");
    background-repeat: no-repeat;
	cursor:pointer;
	}
.startPage-EntLogin{
	float:right;
	padding-right:250px;
	background-size: 200px 70px;
	height:170px;
	background-image: url("logon_ent.png");
    background-repeat: no-repeat;
	cursor:pointer;
	}
.StartPage-leftAlign{
	float:left;
	padding-top:10px;
	padding-left:20px;
	padding-bottom:10px;
	height:50px;
	width:98%;
	border:2px solid #D0D0D0;
	background-color:#E0E0E0;	
	}
.startPage-content1{
	float:left;
	position:relative;
	left:0em;
	padding-top:20px;
	padding-left:20px;
	padding-right:20px;
	height:350px;
	width:45%;
	border:2px solid #D0D0D0;
	font-weight:bold;
	background-color:white;	
	}
.startPage-content2{
	float:left;
	position:relative;
	left:2.5em;
	padding-top:20px;
	padding-left:20px;
	padding-right:20px;
	height:350px;
	width:45%;
	border:2px solid #D0D0D0;
	font-weight:bold;
	background-color:white;	
	}
.landinPage-headingFont1{
	color: #4B4B4B;
	font-weight: normal;
	line-height: 1.1em;
	padding: 0 0 .5em 0;
	font-size: 1.5em;
	font-weight:bold;
	}
.landinPage-headingFont3{
	color: #4B4B4B;
	font-weight: normal;
	line-height: 1.1em;
	padding: 0 0 .5em 0;
	font-size: 1.5em;
	}	
.landinPage-headingFont4{
	color: #4B4B4B;
	font-weight: normal;
	line-height: 1.5em;
	font-size: 1.0em;
	}