
p{ line-height: 1em; }
h1, h2, h3, h4{
    color: black;
	font-weight: normal;
	line-height: 1.1em;
	padding: 0 0 .5em 0;
}
h1{ font-size: 2.5em; }
h2{ font-size: 1.5em; }

body{
	font-family: arial;
	font-size: 80%;
	line-height: 1.2em;
	width: 100%;
	padding: 0;
	background: #eee;
	min-width: 700px;

}

#page{ padding: 20px; }


#content{
	padding: 30px 0;
	background: white;
	padding: 20px;
	clear: both;
	padding-bottom:0px;
	
}
#logo{
	float:left;
	height:40px;
	width:242px;
	padding-right:20px;
	border:none
	
	}
#login{
	float:right;
	padding-top:-31px;
	padding-left:80px;
	height:30px;
	width:100px;
	border:none;
	cursor:pointer;
	}
#investorImg{
	float:left;
	padding-top:15px;
	padding-right:410px;
	height:40px;
	width:400px;
	border:none	
	}
#hefboom{
	float:left;
	padding-top:60px;
	padding-right:410px;
	height:40px;
	width:400px;
	border:none	
	}
#rightAlign{
	float:left;
	padding-top:2px;
	padding-left:475px;
	height:80px;
	width:400px;
	border:none
	}
#liStyle{
	padding-top:15px;
	padding-left:1px;
	float:left;
	}
#spanFont{
	font-size:13px;
	}
#headingFont1{
	font-size:20px;
	font-weight: bold;
	}
#headingFont2{
	font-size:15px;
	font-weight: bold;
	}
#headingFont3{
	font-size:13px;
	font-weight: bold;
	}
#meldUAanImg{
	float:left;
	padding-top:90px;
	padding-left:650px;
	height:20px;
	width:50px;
	border:none	
	}
#meerInformatie{
	float:left;
	padding-top:30px;
	padding-left:30px;
	height:40px;
	width:200px;
	border:none	
	}
#link{
cursor:pointer;
text-decoration: none;

}

#text2{
font-size:2.5em;
}

#text3 {
font-size:1em;
}

#text4 {
font-size:2em;
}


.login-username{
background: #FFFFFF url(username.png) no-repeat 4px 4px;
  height: auto;
  color: #555;
  text-shadow: 0 1px #FFF;
  padding: 3px 3px 6px 50px;
}

.login-password{
background: #FFFFFF url(password.png) no-repeat 4px 4px;
  height: auto;
  color: #555;
  text-shadow: 0 1px #FFF;
  padding: 3px 3px 6px 50px;
}
.Breadcrumb{
	border: 1px solid #F8F8F8;
  padding: 15px;
  background-color: #F8F8F8;
}

.DirectLogin
{
	border: 1px solid #F8F8F8;
  padding: 15px;
  background-color: #F8F8F8;
  padding-top: 1px;
  
}

.BCLevel2{
padding-bottom: -14px;
  padding-left: -8px;
  padding-top: 13px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.59);
}
.LoginL2{
	font-size: 20px;
  padding-left: -10px;
}
.login-loginBox {	
		background-color: white;
  color: grey;
  font-weight: bold;
  display: inline-block;
  padding: 25px;
  position: absolute;
  left: 25em;
    padding-bottom: 55px;
    }
.login-leftAlign{
  padding: 10px;
  height: 50px;
  width: 95%;
  border: 2px solid #D0D0D0;
  background-color: #E0E0E0;
  position: absolute;
  top: 34em;
}
#submit
{
}
a
{
color: grey;
}

input[type="text"] {
    width: 500px;
}

input[type="password"] {
    width: 500px;
}
.login-Submit{
      width: 15%;
  background-color: #606060;
  color: white;
  font-weight: bold;
  padding: 11px;
  position: absolute;
  right: 2em;
  text-align: center;
}

body{
	font-family: arial;
	font-size: 80%;
	line-height: 1.2em;
	width: 100%;
	padding: 0;
	background: #eee;
	min-width: 700px;
}
.landinPage-hyperLink{
	float:left;
	color: grey;
	cursor:pointer;
	text-decoration: underline;
	padding-top:15px;
}
.landinPage-page{ 
	padding: 20px;
}

.landinPage-topContent{
	padding: 20px 0;
	background: white;
	width:100%;
	clear: both;
	padding-bottom:20px;	
}
.landinPage-clearSpace{
	padding: 20px 0;
	clear: both;
	padding-bottom:5px;	
	clear: both;
}
.landinPage-logo{
	float:left;
	height:40px;
	width:242px;
	padding-right:20px;
	border:none;	
	background-image: url("LOGO.png");
    background-repeat: no-repeat;
}
.landinPage-login{
	float:right;
	height:30px;
	width:100px;
	border:none;
	cursor:pointer;
	padding-right:10px;
	padding-bottom:10px;
	background-image: url("login.png");
	background-repeat: no-repeat;
}
.landinPage-Breadcrumb{
	padding: 10px;
	cursor:pointer;
}
.landinPage-Title
{
	padding: 10px;
	padding-top: 1px;
}
.landinPage-investorImg{
	float:left;
	padding-left:600px;
	background-size: 530px 250px;
	height:250px;
	background-image: url("investeerders.jpg");
    background-repeat: no-repeat;
}
.landinPage-EntrepreneurImg{
	float:left;
	padding-left:600px;
	background-size: 530px 250px;
	height:250px;
	background-image: url("ondernemers.jpg");
    background-repeat: no-repeat;
}
.landinPage-rightAlign{
	float:left;
	padding-top:10px;
	padding-left:50px;
	height:240px;
	width:500px;
	border:2px solid #D0D0D0;
	font-weight:bold;
	background-color:white;	
}
.landinPage-leftAlign{
	float:left;
	padding-top:10px;
	padding-left:20px;
	padding-bottom:10px;
	height:50px;
	width:93%;
	border:2px solid #D0D0D0;
	background-color:#E0E0E0;	
}
.landinPage-content1{
	float:left;
	position:relative;
	left:0em;
	padding-top:20px;
	padding-left:20px;
	padding-right:20px;
	height:200px;
	width:26%;
	border:2px solid #D0D0D0;
	font-weight:bold;
	background-color:white;	
}
.landinPage-content2{
	float:left;
	position:relative;
	left:2.5em;
	padding-top:20px;
	padding-left:20px;
	padding-right:20px;
	height:200px;
	width:26%;
	border:2px solid #D0D0D0;
	font-weight:bold;
	background-color:white;	
}
.landinPage-content3{
	float:right;
	position:relative;
	right:5.5em;
	padding-top:20px;
	padding-left:20px;
	padding-right:20px;
	height:200px;
	width:26%;
	border:2px solid #D0D0D0;
	font-weight:bold;
	background-color:white;	
}
.landinPage-headingFont1{
	color: #4B4B4B;
	font-weight: normal;
	line-height: 1.1em;
	padding: 0 0 .5em 0;
	font-size: 1.5em;
	font-weight:bold;
	}
.landinPage-headingFont2{
	color: #4B4B4B;
	font-weight: normal;
	line-height: 1.1em;
	padding: 0 0 .5em 0;
	font-size: 2em;
}
.landinPage-headingFont3{
	color: #4B4B4B;
	font-weight: normal;
	line-height: 1.1em;
	padding: 0 0 .5em 0;
	font-size: 1.5em;
}	
.landinPage-headingFont4{
	color: #4B4B4B;
	font-weight: normal;
	line-height: 1.5em;
	padding: 0 0 .5em 0;
	font-size: 1.0em;
}
.landinPage-bulletFont{
	color: #4B4B4B;
	font-weight: normal;
	line-height: 1.1em;
	padding: 0 0 .5em 0;
	font-size: 1.0em;
}
.landinPage-meldUAanImg{
	float:right;
	padding-top:80px;
	padding-right:150px;
	height:20px;
	width:50px;
	border:none;
	background-image: url("Meld u aan.png");
	background-repeat: no-repeat;
	cursor:pointer;
}
.startPage-hyperLink{
	float:left;
	color: grey;
	cursor:pointer;
	text-decoration: underline;
	padding-top:25px;
}
.startPage-topContent{
	padding-top: 20px;
	padding-left:10px;
	width:1210px;
	background: white;
	border:2px solid #D0D0D0;
	clear: both;
	padding-bottom:20px;	
}
.startPage-investorImg{
	float:left;
	padding-left:600px;
	background-size: 250px 150px;
	height:170px;
	background-image: url("Start_Investor.jpg");
    background-repeat: no-repeat;
}
.startPage-EntrepreneurImg{
	float:left;
	padding-left:600px;
	background-size: 250px 150px;
	height:170px;
	background-image: url("Start_Entrepreneur.jpg");
    background-repeat: no-repeat;
}
.startPage-InvLogin{
	float:right;
	padding-right:250px;
	background-size: 200px 70px;
	height:170px;
	background-image: url("logon_inv.png");
    background-repeat: no-repeat;
	cursor:pointer;
}
.startPage-EntLogin{
	float:right;
	padding-right:250px;
	background-size: 200px 70px;
	height:170px;
	background-image: url("logon_ent.png");
    background-repeat: no-repeat;
	cursor:pointer;
}
.StartPage-leftAlign{
	float:left;
	padding-top:10px;
	padding-left:20px;
	padding-bottom:10px;
	height:50px;
	width:98%;
	border:2px solid #D0D0D0;
	background-color:#E0E0E0;	
}
.startPage-content1{
	float:left;
	position:relative;
	left:0em;
	padding-top:20px;
	padding-left:20px;
	padding-right:20px;
	height:350px;
	width:45%;
	border:2px solid #D0D0D0;
	font-weight:bold;
	background-color:white;	
}
.startPage-content2{
	float:left;
	position:relative;
	left:2.5em;
	padding-top:20px;
	padding-left:20px;
	padding-right:20px;
	height:350px;
	width:45%;
	border:2px solid #D0D0D0;
	font-weight:bold;
	background-color:white;	
}
.generalFailureScreen-box1{
	display: inline-block;
	width: 55%;
	padding: 4px;
	padding-top:15px;
	padding-bottom:15px;
	padding-left:15px;
	background-color: #E2E2E2;
	font-weight: bold;
	font-size:1.2em;
	color: black;
	clear: both;
}
.generalFailureScreen-box2{
	display: inline-block;
	width: 55%;
	background-color: #D0D0D0;
	height: auto;
	font-weight: normal;
	text-align: center;
	font-size: initial;
	padding: 4px;
	padding-top:25px;
	padding-bottom:25px;
	padding-left:15px;
 }
 .generalFailureScreen-box3{
  background-image: url("phone.png");
  background-repeat:no-repeat;
  background-position: left 20px bottom 40px;
  border-color: gray;
  width: 16%;
  float: left;
  border: 1px solid rgb(158, 150, 150);
  padding: 45px;
  background-color: white;
  text-align: center;
 }
.shutdownscreen-box1{
	display: inline-block;
	width: 95%;
	padding: 20px;
	background-color: #E2E2E2;
	margin-left: 6px;
	font-size: larger;
	font-weight: bold;
	color: black;
	height: auto;
	clear: both;
	margin-bottom: 40px;
}
.shutdownscreen-box2 {
	display: inline-block;
	margin-bottom: 30px;
	padding: 20px;
	background-color: white;
	height: 220px;
	width: 97%;
}
.shutdownscreen-box3{
	border: 1px solid #E5E2E2;
	display: inline-block;
	width: 99%;
	padding: 5px;
	background-color: #D0D0D0;
	height: auto;
	font-weight: normal;
	text-align: center;
	margin-bottom: 35px;
}
.shutdownscreen-box4{
	border: 1px solid #E5E2E2;
	display: inline-block;
	width: 99%;
	padding: 5px;
	background-color: white;
	height: 40px;
	font-weight: normal;
	text-align: center;
}
.shutdownscreen-checkbox{
	float:right;
	color:rgb(51, 224, 60);
}
.Proposities_outerContainer{
	width:100%;
	height:100%;
	position:absolute;
	background:#ffffff;
	top:0px;
	left:0px;
	overflow: auto;
}
.Proposities_header{
	border: 1px solid rgb(215, 209, 209);
	padding: 0px;
	width: 992px;
	height: 63px;
	margin: 1em auto 0 auto;
	background-color: white;
}
.Proposities-headerText1{
	font-size: 16px;
	position: absolute;
	left: 769px;
	top: 27px;
}
.Proposities-headerText2{
	font-size: 12px;
	position: absolute;
	left: 769px;
	top: 51px;
}
.Proposities-headerText3{
    font-size: 18px;
	position: absolute;
	left: 1036px;
	top: 36px;
	cursor: pointer;
}
.Proposities-logo1{
	position: absolute;
	left: 735px;
	top: 27px;
	width: 36px;
	height: 36px;
	background-image: url("Naam.png");
	background-repeat: no-repeat;
}
.Proposities-navBar{
	border: 1px solid rgb(234, 232, 232);
	background-color: rgb(234, 232, 232);
	padding: 0px;
	width: 992px;
	height: 36px;
	margin: 0 auto 0 auto;
}
.Proposities-navRect{
	position: absolute;
	left: 181px;
	top: 77px;
	width: 30px;
}
.Proposities-dashboard{
	position: absolute;
	left: 257px;
	top: 82px;
}
.Proposities-prop{
	position: absolute;
	left: 356px;
	top: 80px;
}
.Proposities-actual{
	position: absolute;
	left: 454px;
	top: 81px;
	background-image: url("actual.png");
	background-repeat: no-repeat;
}
.Proposities-berich{
	position: absolute;
	left: 548px;
	top: 81px;
}
.Proposities-content{
	border: 1px solid rgb(224, 220, 220);
	background-color: #E0E0E0;
	padding: 0px;
	width: 992px;
	height: 850px;
	margin: 0 auto 0 auto;
}
.Proposities-content1{
	border: 1px solid rgb(215, 209, 209);
	background-color: white;
	width: 971px;
	height: 60px;
	margin: 0 auto 0 auto;
	margin-top: 23px;
}
.Proposities-filter{
	position: absolute;
	left: 189px;
	top: 164px;
	width: 16px;
	height: 16px;
 }
.Proposities-content-1-Text{
	font-size: 16px;
	position: absolute;
	left: 525px;
	top: 164px;
 }
.Proposities-panel{
    display: inline-block;
	border: 1px solid rgb(215, 209, 209);
	background-color: white;
	width: 311px;
	height: 217px;
	margin-top: 75px;
	margin-right: 3px;
	margin-left: 4px;  
 }
.Proposities-panel1{
	border: 1px solid rgb(215, 209, 209);
	background-color: white;
	width: 311px;
	height: 69px;
	margin-top: -5px;
	margin-right: 3px;
	margin-left: 4px;
	line-height: 34px;
	text-align: center; 
 }
.Proposities-main{
    display: inline-block;
	float: left;
 }
.Proposities-iconText{
	font-size:10px;
	background-color:rgb(60, 60, 60);
	border:1px solid rgb(60, 60, 60);
	color:white;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 8px;
	padding-left: 10px;
    font-weight: bold;
}
.Proposities-text{
	display: inline-block;
	vertical-align: middle;
	line-height: normal;     
}
.Proposities-footer{
	line-height: 47px;
	text-align: center;
	width: 971px;
	height: 50px;
	border: 1px solid rgb(215, 209, 209);
	background-color: white;
	margin-top: 692px;
}
.Proposities-footerText{
	font-size:13px;
}
.Contact_outerBox{	
	background-color:  #E0E0E0;
    padding: 25px;
    width: 1150px;
    height: 1000px;
    margin:5px;
}
.Contact_innerBox{	
	background-color: white;
    width: 1100px;
	color:black; 
    padding: 25px;
    margin: 5px;
	height :900px;	
}
.contact_table_column1{
	text-align:right;
	width:180px;
	padding-left: 155px;
}
.contact_table_tr{
	height: 50px;
}
.contact_table_space{
	display:inline-block;
	margin-left:360px;
	margin-right:360px;
}
.contact_table_space1{
	display:inline-block;
	margin-left:20px;
	margin-right:20px;
}
.contact_table_space2{
	display: inline-block;
	position: relative;
	left: 120px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom:10px;
	border: 1px solid #999999;
}
.contact_textheight{
	height:30px;
	width: 90px;
}
.contact_textheight1{
	height:30px;
	width: 150px;
}
.contact_textheight2{
	height:30px;
	width: 350px;
}
.Content-Content{
    border: 1px solid #cecece;
	height: 200px;
	width: 710px;
	padding-top:100px;
	padding-left: 501px;
	position: relative;
	background-color:white;
}
.Content-telephone{
	height:65px;
	width:804px;
	border: 1px solid #cecece;
	padding-left: 501px;
	position: relative;
	background-color:white;
}
.Content-footer{
	height:65px;
	width:804px;
	border: 1px solid #cecece;
	position: relative;
	padding-left: 501px;
	background-color:white;
}
.Wachtwoord-wachtwoord{
	text-align:left;
	width:180px;
	padding-left: 10px;
	color: #4B4B4B;
	font-weight: bold;
	line-height: 1.1em;
	padding: 0 0 .5em 0;
	font-size: 1.2em;
}
.Wachtwoord-input{
	position: relative;
	left: 100px;
	top: 0px;
	width: 385px;
	height: 30px;  
	font-size: 1em;
	text-decoration: none;
	color: #999999;
	text-align: left;
}
.Wachtwoord-geefBox{
	text-decoration: none;
	border: 1px solid #999999;
	padding: 20px;
	font-size: 15px;
	width: 810px;
}
.Wachtwoord-bottomBox{
	text-align:center;
	text-decoration: none;
	border: 1px solid #ECECEC;
	background-color:#ECECEC;
	padding: 20px;
	font-size: 15px;
	width: 810px;
}
.Wachtwoord-WachtwoordMeter{
	border: 1px solid rgb(232, 44, 209);
	margin-left: 72px;
	padding-left: 40px;
	padding-right: 40px;
	color:rgb(232, 44, 209);
}
.Wachtwoord-outerBox{	
	background-color: #E0E0E0;
    padding: 25px;
    width: 1150px;
    height: 1000px;
    margin:5px;
}
.Wachtwoord-innerBox{	
	background-color: white;
    width: 1100px;
	color:black; 
    padding: 25px;
    margin: 5px;
	height :900px;
}
.Wachtwoord-versturenBox{	
	float: right;
	padding-right: 240px;
}
.Investren-outerBox{	
	background-color: #E0E0E0;
    padding: 25px;
}
.Investren-innerBox{
	background: white;
	height: 22em;
	padding:25px;
	padding-bottom:50px;
}
.Investren-JaNee{
	width: 20em;
	height: 4em;
	background-color: #CCCCCC;
	position: relative;
	left: 20em;
}
.Investren-Volgende{
	width: 10em;
	height: 5em;
	background-color: rgb(50, 49, 49);
	float: right;
	padding-right: 20px;
	color:white;
	padding:25px;
}
.Investren-Vorige{
	width: 10em;
	height: 5em;
	background-color: white;
	padding-right: 20px;
	color: rgb(87, 81, 81);
	padding: 25px;
}
.Stappenplan-contentBox{
	background: white;
	border: 1px solid rgb(199, 196, 196);
	padding: 25px;
	padding-bottom: 100px;
	text-align: center;
	padding-top: 100px;
}