<!DOCTYPE html>
<html>
<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<body>

<div ng-app="" ng-init="quantity=5;cost=10">
<p>My first expression: {{ 5 + 5 }}</p>

Quantity: <input type="number"	ng-model="quantity">
Costs:    <input type="number" ng-model="cost">
<p>Total in dollar:{{quantity * cost}}</p>


<p>Name: <input type="text" ng-model="firstname"></p>
<p>Hello {{firstname}}</p> 
</div>

</body>
</html>
