.container{
	background-color:#f2f2f2;
	height: auto;
}
.panel{
	border-radius:0px;
}

.panel-color{
	background-color:rgba(245, 245, 245, 1);
}

@media (min-width:1370px){
.hide-text{
display:none;
}
}

@media (min-width:992px){
.hide-text{
display:none;
}
}

@media (min-width:320px) and (max-width:991px){
.hide-block{
display:none;
}
}



@media screen and (min-width:992px) and (max-width:1370px)
{
.panel-height-header{
	height:90px;
}

.row-margin-bottom{
	margin-bottom: 30px;
}

.panel-margin-adjustment{
	margin-top: -21px;
}
.panel-height-top{
	height:263px;
}

.panel-height-bottom{
	height:69px;
}

.panel-height-lg{
	height:173px;
}
.panel-height-lg-1{
	height:193px;
}

.row-padding{
	padding-top:0px;
}
.label-text{
	position: relative;
	top: 80px; 
	left: 15px;
}
.label-text-1{
	position: relative;
	top:0px; 
	left: 15px;
}
.panel-margin-adjustment-1{
	margin-left:-10px;
	
}
.contact-panel-margin-adjustment{
	margin-right:-10px;
}
.contact-panel-height-lg{
	height:220px;
}
.col-padding-left{
	padding-left: 0px;
}

.col-padding-right{
	padding-right: 0px;

}
.contact-panel-margin-top
{
margin-top:-21px;
}


}


@media screen and (min-width:320px) and (max-width:991px)
{

.panel-height-sm{
	height:100px;
}

.panel-padding-left-remove
{	
	padding-left: 0px;
}
.panel-padding-right-remove
{	
	padding-right: 0px;
}

.row-padding-sm{
	padding-top:20px;
}
.label-text{
	display: block;
    background-color: white;
    height: 40px;
    text-align: center;
    
}
.label-text-1{
	display: block;
    background-color: white;
    height: 40px;
    text-align: center;
    
}
.panel-margin-adjustment-1{
	margin-top: 20px;
	margin-left: -10px;
	margin-right: -10px;
}
.panel-height-sm-1{
	height:257px;

}
.panel-contact-height-sm-1{
	height:95px;
}
.panel-height-sm-2{
	height:103px;
}
.contact-panel-height-sm{
	height:50px;
}
.zero-padding{
padding-left:0px;
padding-right:0px;
}
.contact-height{
	height:50px
}
.margin-contact-col{
	margin-top: 420px;
}
.contact-panel-margin-left-right{
margin-left:-20px;
margin-right:-20px;

}

}












/* text part done from here */
.text-align-center{
text-align:center;
}

.toon{
display:block;
position:relative;
width:90px;
height:36px;
background-color: #E0E0E0;
text-align:center;
margin-left: 533px;
}


.ax_shape {
 display:block;
 background-color: #333333;
 text-align: center;
 line-height: normal;
 height:24px;
 width:24px;
 position: relative;
 top: -15px;
 left: -15px;
}

.icon{
font-family: 'Arial Bold', Arial; 
font-size: 10px; 
font-weight: 700; 
color: rgb(255, 255, 255); 
opacity: 1;
}


.header4{
font-family: 'Arial Narrow', Arial;
 font-size: 18px;
 font-weight: 400;
 color: rgb(0, 94, 93);
 opacity: 1;
 float:center;
}

.card_heading{
font-family: 'Arial Bold', Arial;
font-weight: 700;
color: rgb(0, 94, 93);
font-size: 14px;
}

.card_content{
font-family: 'Arial Regular', Arial;
 font-weight: 400;
 color: rgb(34, 34, 34);
 font-size: 14px;
}

.tool{
   font-family: 'Arial Regular', 'Arial';
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #000000;
  text-align: center;
  line-height: normal;
  position:relative;
}

.horizontal_line {
  font-size: 13px;
  color: #333333;
  text-align: center;
  line-height: normal;
  visibility:visible;
}

.bottom_content{
font-family: 'Arial Regular', Arial; 
font-weight: 400; 
font-size: 14px; 
color: rgb(34, 34, 34); 
opacity: 1;
}

.bottom_content1{
font-family: 'Arial Bold', Arial; 
font-weight: 700;
font-size: 14px;
color: rgb(0, 94, 93);
opacity: 1;
}

.link_content{
font-size: 14px; 
opacity: 1;
color: #009286;

}

.link_content1{
font-size: 14px; 
opacity: 1;
color: #009286;
text-align:right;
float:right;

}

.link_content:hover,.link_content1:hover{
text-decoration: underline; 
color: rgb(255, 102, 0);
}

.contact_class{
  font-family: 'Arial Narrow', Arial;
  font-size: 18px;
  font-weight: 400;
  color: rgb(51, 51, 51);
  opacity: 1;
}


.header1{
font-family: 'Arial Regular', Arial; 
font-size: 27px;
font-weight: 400;
font-style: normal;
font-size: 28px;
color: #005E5D;
text-align: center;
line-height: 36px;
}

/* .e {
  background-color: rgba(255, 255, 255, 1);
  background-image: url('http://dxlfb468n8ekd.cloudfront.net/gsc/T0C3OR/9f/bb/f9/9fbbf960258a457383…5403c330/images/dashboard/bg_d.png?token=48852eb06abe30066db8d98359e87230');
  background-position: center top;
  background-repeat: repeat-x;
  background-attachment: scroll;
  background-size: auto;
  position: relative;
  left: -0px;
  width: 1320px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
} */

