#triangle{
  position: absolute;
  left: 13px;
  top: -20px;
}
.tbl1
{
  background: #FFFFFF url(username.png) no-repeat 4px 2px;
  height: 30px;
  width: 100%;
  color: #555;
  text-shadow: 0 1px #FFF;
}
.tbl2
{
  background: #FFFFFF url(password.png) no-repeat 4px 2px;
  height: 30px;
  width: 100%;
  color: #555;
  text-shadow: 0 1px #FFF;
}
#inLoginBreadcrumb{
  cursor: pointer;
  position: absolute;
  top: 87px;
  font-family: 'Arial';
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: #333333;
  text-align: left;
  line-height: normal;
}
#inLoginHeading{
  word-wrap: break-word;
  color: #333333;
  text-align: left;
  line-height: normal;
  position: absolute;
  top: 132px;
  font-family: 'Arial';
  font-weight: 400;
  font-style: normal;
  font-size: 28px;
}
#inLoginBox1{
  position: absolute;
  top: 188px;
  background-color:white;
  height:361px;
}
#inLoginBox2{
  background-color:#f2f2f2;
  height:94px;
  top:616px;
  border:1px solid #cccccc;
}
.inLoginPhoneImg{
  height:32px;
  width:32px;
  float:right;
}
.inLoginFont1{
  color: #333333;
  text-align: left;
  line-height: normal;
  font-family: 'Arial';
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  position: absolute;
  padding-left:10px;
  padding-top:20px;
}
.inLoginFont2{
  color: #333333;
  text-align: left;
  line-height: normal;
  font-family: 'Arial';
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}
.inLoginFont3{
  color: #333333;
  text-align: left;
  line-height: normal;
  font-family: 'Arial';
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}
.inLoginFont4{
  text-decoration: underline;
  font-size: 14px;
  color: #333333;
  text-align: left;
  line-height: normal;
  font-family: 'Arial';
  font-weight: 400;
  font-style: normal;
  margin-left:10px;
  margin-top:20px;
}
.inLoginFont5{
  text-decoration: underline;
  color: #333333;
  text-align: left;
  line-height: normal;
  font-family: 'Arial';
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height:40px;
}
#inLoginCheckBox{
  margin-left:10px;
  margin-top:20px;
}
#inLoginButton{
  width:100%; 
  height: 50px; 
  background-color: #606060;
  color: white; 
  font-weight: bold; 
  font-size:16px;
  font-family:'Arial';
  text-align: center;
}
#inLoginText{
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  margin-top:10px;
  padding-left:40px;
}
@media (min-width: 320px) and (max-width:768px) {
#inLoginHeading{
  font-size: 24px;
}
#inLoginBox1{
  border:1px solid #cccccc;
}
#inLoginBox2{
  height:124px;
}
.tbl1
{
  background: #FFFFFF url(username.png) no-repeat 4px 0px;
  height: 26px;
  color: #555;
  text-shadow: 0 1px #FFF;
}
.tbl2
{
  background: #FFFFFF url(password.png) no-repeat 4px 0px;
  height: 26px;
  color: #555;
  text-shadow: 0 1px #FFF;
}

}
@media (min-width: 320px){
.hidden-box{
  display:none;
}
}
@media (min-width: 768px){
.hidden-text{
  display:none;
}
}