* {
margin: 0;
}


html,
body{
  margin:0;
  display:table;
  height:100%;
  width:100%;
  padding-bottom:25px;
}

ul {
  list-style-type: none;
}

li{
display:inline;
}
footer{
width: 100%;
height: 91px;
background-color: #ecebec;
position:fixed;
bottom:0px;
}

a {
  text-decoration: none;
  color: #009286;
 
}


a:hover { 
  color:#004c4c;
  text-decoration: underline;
}



.footerSocial{
height:32px;
width:206px;
float:left;
margin-top:32px;
margin-left: 550px;
margin-right:25px;
padding-left: 0px;
}


.footerNavigation
{
height:44px;
width:366px;
float: left;
margin-top:40px;
margin-left:28px;
padding-left: 0px;
font-family: arial;
font-size: 14px;
}

.copyright {
  display: block;
  color: #888888;
  font-size: 14px;
  height:22px;
  width:155px;
  float: left;
  margin-top:40px;
  font-family: arial;
  
}

.copyright:hover{
 color:#004c4c;
 text-decoration:underline;
}


.copyright:visited{
 color:#999999;

}


#disclaimer,#US,#privacy,#security{

border-right: 1px solid #009286;


}
#US,#privacy,#security,#sitemap{
padding-left:7px;
}
#disclaimer,#US,#privacy,#security{
padding-right:7px;
}





@media screen and (max-width: 992px){


footer{
width: 100%;
height: 157px;
background-color: #ecebec;
position:fixed;
bottom:0px;
}


.copyright {
  position: absolute;
  margin-top:106px;
  margin-left:15px;
}


.footerSocial{
height:32px;
width:206px;
float:left;
margin-top:20px;
margin-left: 15px;
margin-right:20px;
padding-left: 0px;
}


.footerNavigation
{
height:44px;
width:366px;
float: left;
margin-top:20px;
margin-left:15px;
padding-left: 0px;
font-family: arial;
font-size: 14px;
} 

}