.logo{
  width: 266px;
  height: 36px;
  position: relative;
 left: 24px;
  top: 9px;
}
body{
overflow:hidden;
}
.heading{
  position: relative;
  left: 3.5em;
  font-size: 16px;
  top: -8px;
  font-family: Arial;
  font-style: normal;
}

.profile{
  position: relative;
  left: 54em;
  top: -33px;
  width: 40px;
}

.profilename1{
   position: relative;
  top: -74px;
  left: 912px;
  color: rgb(0, 146, 134);
  opacity: 1;
  font-family: Arial Regular, Arial;
}

.profilename2{
  position: relative;
  top: -57px;
  left: 865px;
  font-family: Arial Regular, Arial;
  font-size: 13px;
  color: rgba(102, 102, 102, 1);
}

.logout {
  position: relative;
  padding-left: 1213px;
  top: -5.4em;
}

input[type="button"] {
  background: none;
  border: 0;
  font-size: 15px;
  font-size: 15px;
  color: rgb(0, 146, 134);
  opacity: 1;  
}

.name{
	border: 0;
}

.dashboardsubmit{
	background: url(dashboard.png) no-repeat;
	width:100px;
	height:36px;
	background-color:#e4e4e4;
}

.porpositsubmit{
	background: url(proposit.png) no-repeat;
	width:100px;
	height:36px;
	background-color:#e4e4e4;
}
.actualsubmit{
	background: url(actual.png) no-repeat;
	width:100px;
	height:36px;
	position:relative;
	left:-0.6em;
	background-color:#e4e4e4;
}
.bericsubmit{
	background: url(beric.png) no-repeat;
	width:100px;
	height:36px;
	position:relative;
	left:-0.9em;
	background-color:#e4e4e4;
}

.tab{
    background: url(tab.png) no-repeat;
	position:relative;
	top:2em;
	width:1500px;
}

.dummy{
	width:80px;
}
.header_div {
  background: #E4E4E4;
  height: 36px;
  margin-top: -67px;
  width: 100%;
  margin-left: -8px;
}
.top_hmenu_ul
{
	 float:left;
	 width:100%;
	 padding-left:7em;
	 margin:0;
	 list-style-type:none;
	 margin-top: -16px;
}
.top_hmenu_a1
{
	 float:left;
	 width:9em;
	 text-decoration:none;
	 color:#666666;
	 background-color:#E4E4E4;
	 padding: 1.3em.5em;
	 border-right: 1px solid #CACACA;
	 border-left: 1px solid #CACACA;
	 text-align:center;
	 font-family: Arial;
	 font-size: 10px;
	 height: 7px;
}

.top_hmenu_a2
{
	 float:left;
	 width:9em;
	 text-decoration:none;
	 color:#666666;
	 background-color:#E4E4E4;
	 padding: 1.3em.5em;
	 border-right: 1px solid #CACACA;
	 border-left: 1px solid #CACACA;
	 text-align:center;
	 font-family: Arial;
	 font-size: 10px;
	 height: 7px;
}
.top_hmenu_a3
{
	 float:left;
	 width:9em;
	 text-decoration:none;
	 color:#666666;
	 background-color:#E4E4E4;
	 padding: 1.3em.5em;
	 border-right: 1px solid #CACACA;
	 border-left: 1px solid #CACACA;
	 text-align:center;
	 font-family: Arial;
	 font-size: 10px;
	 height: 7px;
}
.top_hmenu_a4
{
	 float:left;
	 width:9em;
	 text-decoration:none;
	 color:#666666;
	 background-color:#E4E4E4;
	 padding: 1.3em.5em;
	 border-right: 1px solid #CACACA;
	 border-left: 1px solid #CACACA;
	 text-align:center;
	 font-family: Arial;
	 font-size: 10px;
	 height: 7px;
}
.top_hmenu_a1:hover {background-color:#C0C0C0;}
.top_hmenu_a2:hover {background-color:#C0C0C0;}
.top_hmenu_a3:hover {background-color:#C0C0C0;}
.top_hmenu_a4:hover {background-color:#C0C0C0;}

.top_hmenu_li {
	display:inline;
}

.img_prep1{
	 margin-left: -25em;
	 padding-top: 8px;
	 top: 0px;
	 width: 16px;
	 height: 16px;
}
.img_prep2{
  padding-left: 82px;
  padding-right: 10px;
  width: 16px;
  height: 16px;
}
.img_prep3{
  padding-left: 81px;
  width: 16px;
  height: 16px;
}
.img_prep4{
  padding-left: 76px;
  padding-right: 10px;
  width: 16px;
  height: 16px;
}
.img_dent{
	padding-left : 2.55em;
}




@media screen and (min-width: 320px) and (max-width: 480px){

.logo,.heading{
	display:none;
} 

.header_div{
	 background: #E4E4E4; 
	 height: 41px; 
	 margin-top: -60px;
	 width:928px;
}

.profile {
  position: relative;
  left: -0.5em;
  top: -33px;
  width: 40px;
  margin-top: 31px;
}

.profilename1 {
  position: relative;
  top: -74px;
  left: 36px;
  color: rgb(0, 146, 134);
  opacity: 1;
}
.profilename2 {
  position: relative;
  top: -57px;
  left: -10px;
  font-size: 13px;
}

.logout {
  position: relative;
  padding-left: 223px;
  top: -6.7em;
}

.img_dent{
  visibility:none;
}

.img_prep1 {
  margin-left: -22.80em;
  position: relative;
  top: 6px;
  right: -47px;
  width: 18px;
  height: 18px;
}

.img_prep2{
  width: 19px;
  height: 19px;
  position: relative;
  top: 6px;
  right: -31px;
  }

.img_prep3 {
  width: 19px;
  height: 19px;
  position: relative;
  top: 5px;
  right: -9px;
}

.img_prep4{
  width: 19px;
  height: 19px;
  position: relative;
  top: 6px;
  right: 3px;
}

.header_div {
  background: #E4E4E4;
  height: 41px;
  margin-top: -60px;
  width: 360px;
  
}

input[type="button"] {
  position: relative;
  background: none;
  border: 0;
  font-size: 15px;
  font-size: 15px;
  color: rgb(0, 146, 134);
  opacity: 1;
  top: 23px;
  left: 37px;
}

.top_hmenu_ul {
  width: 100%;
  margin: 0;
  list-style-type: none;
  margin-top: -25px;
  margin-left: -117px;
}

.top_hmenu_a1 {
  width: 8em;
  height: 0px;
  padding: 3.1em.4em;
  position: relative;
  top: 6px;
  right: -5px;
}
.top_hmenu_a2 {
  width: 8em;
  height: 0px;
  padding: 3.1em.4em;
  position: relative;
  top: 6px;
  right: -5px;
}
.top_hmenu_a3 {
  width: 8em;
  height: 0px;
  padding: 3.1em.4em;
  position: relative;
  top: 6px;
  right: -5px;
}
.top_hmenu_a4 {
  width: 8em;
  height: 0px;
  padding: 3.1em.4em;
  position: relative;
  top: 6px;
  right: -5px;
}
}


@media screen and (min-width: 481px) and (max-width: 768px){

.logo,.display,.heading{
	display:none;
} 

.profile {
  position: relative;
  left: -0.5em;
  top: -33px;
  width: 40px;
  margin-top: 31px;
}

.profilename1 {
  position: relative;
  top: -74px;
  left: 36px;
  
}
.profilename2 {
  position: relative;
  top: -57px;
  left: -10px;
 
}

.logout {
  position: relative;
  padding-left: 211px;
  top: -6.7em;
}

.img_dent{
  visibility:none;
}

.img_prep1 {
  margin-left: -29.5em;
  position: relative;
  top: 6px;
  right: -47px;
  width: 18px;
  height: 18px;
}

.img_prep2{
  width: 19px;
  height: 19px;
  position: relative;
  top: 6px;
  right: -67px;
  }

.img_prep3 {
  width: 19px;
  height: 19px;
  position: relative;
  top: 5px;
  right: -71px;
}

.img_prep4{
  width: 19px;
  height: 19px;
  position: relative;
  top: 6px;
  right: -91px;
}

.header_div {
  background: #E4E4E4;
  margin-top: -65px;
  width: 480px;
}

input[type="button"] {
  position: relative;
  top: 23px;
  left: 170px;
}

.top_hmenu_ul {
  width: 100%;
  margin: 0;
  list-style-type: none;
  margin-top: -25px;
  margin-left: -117px;
}

.top_hmenu_a1 {
  width: 11em;
  height: 0px;
  padding: 3.1em.4em;
  position: relative;
  top: 6px;
  right: -5px;
}
.top_hmenu_a2 {
  width: 11em;
  height: 0px;
  padding: 3.1em.4em;
  position: relative;
  top: 6px;
  right: -5px;
}
.top_hmenu_a3 {
  width: 11em;
  height: 0px;
  padding: 3.1em.4em;
  position: relative;
  top: 6px;
  right: -5px;
}
.top_hmenu_a4 {
  width: 11em;
  height: 0px;
  padding: 3.1em.4em;
  position: relative;
  top: 6px;
  right: -5px;
  }

}

@media screen and (min-width:769px) and (max-width: 992px){

.body{
width:100px;
}

.heading{
display:none;
}

.header_div {
  height: 36px;
  margin-top: -64px;
  width: 766px;
}

.profile{
  left: 25em;
  top: -33px;
  width: 40px;
}

.profilename1{
  top: -74px;
  left: 445px;
}
.profilename2{
  top: -57px;
  left: 398px;
}

.logout{
  padding-left: 664px;
  
}
}


@media screen and (min-width:993px) and (max-width: 1320px){

.body{
width:100px;
}

.header_div {
  width: 1000px;
}

.profile{
  left: 36em;
  top: -36px;
  width: 40px;
}

.profilename1{
  top: -81px;
  left: 621px;
}
.profilename2{
  top: -64px;
  left: 574px;
}

.logout{
  padding-left: 883px;
}

}