* {
margin: 0;
}
html,
body{
  margin:0;
  display:table;
  height:100%;
  width:100%;
  padding-bottom:25px;
}
ul {
  list-style-type: none;
}
li{
display:inline;
}
footer{
width: 1320px;
background-color: #ecebec;
}
a {
  text-decoration: none;
  color: #009286; 
}
a:hover { 
  color:#004c4c;
  text-decoration: underline;
}

.footerSocial{
visibility:hidden;
height:32px;
width:227px;
float:right;
margin-top:32px;
margin-right:25px;
padding-left: 0px;
}
.footerNavigation
{
width:auto;
float: left;
margin-top:40px;
margin-bottom:37px;
margin-left:28px;
margin-right:28px;
padding-left: 0px;
font-family: arial;
font-size: 14px;
}
.copyright {
display: block;
color: #666666;
font-size: 14px;
height:22px;
width:auto;
float: right;
margin-top:40px;
margin-right:28px;
margin-bottom:37px;
font-family: arial;  
}
.copyright:hover{
color:#004c4c;
text-decoration:underline;
}
.copyright:visited{
color:#999999;
}
#disclaimer,#US,#privacy,#security{
border-right: 1px solid #009286;
}
#US,#privacy,#security,#sitemap{
padding-left:7px;
}
#disclaimer,#US,#privacy,#security{
padding-right:7px;
}
#disclaimer:hover{
color:#004c4c;
text-decoration:underline;
}
#US:hover{
color:#004c4c;
text-decoration:underline;
}
#privacy:hover{
color:#004c4c;
text-decoration:underline;
}
#security:hover{
color:#004c4c;
text-decoration:underline;
}
#sitemap:hover{
color:#004c4c;
text-decoration:underline;
}
#disclaimer:visited{
color:#999999;
text-decoration:underline;
}
#US:visited{
color:#999999;
text-decoration:underline;
}
#privacy:visited{
color:#999999;
text-decoration:underline;
}
#security:visited{
color:#999999;
text-decoration:underline;
}
#sitemap:visited{
color:#999999;
text-decoration:underline;
}
@media screen and (max-width: 992px){
footer{
width: 100%;
height: 157px;
background-color: #ecebec;

}
.copyright {
position: absolute;
margin-top:106px;
margin-left:15px;
}
.footerSocial{
display: none;
}
.footerNavigation
{
height:44px;
width:auto;
float: left;
margin-top:52px;
margin-left:15px;
padding-left: 0px;
font-family: arial;
font-size: 14px;
} 
}
@media screen and (min-width: 993px) and (max-width: 1320px){
footer{
width: 100%;
}
.copyright {
position:relative;
}
}