.logo{
  width: 246px;
  height: 34px;
  position: relative;
 left: 30px;
  top: 9px;
}

.heading{
  position: relative;
  left: 4em;
  font-size: 16px;
  top: -8px;
  font-family: Arial;
  font-style: normal;
}

.profile{
  position: relative;
  left: 54em;
  top: -33px;
  width: 40px;
}

.profilename1{
   position: relative;
  top: -74px;
  left: 912px;
  color: rgb(0, 146, 134);
  opacity: 1;
  font-family: Arial Regular, Arial;
}
.profilename2{
  position: relative;
  top: -57px;
  left: 865px;
  font-family: Arial Regular, Arial;
  font-size: 13px;
  color: #666666
}

.logout{
  position: relative;
  left: 57em;
  top: -6.8em;
}

input[type="button"] {
   position: relative;
  background: none;
  border: 0;
  font-size: 15px;
    font-size: 15px;
  color: rgb(0, 146, 134);
  opacity: 1;
  top: 23px;
  left: 250px;
}

.name{
	border: 0;
}

.dashboardsubmit{
	 background: url(dashboard.png) no-repeat;
	 width:100px;
	 height:36px;
	 background-color:#e4e4e4;
}

.porpositsubmit{
	 background: url(proposit.png) no-repeat;
	 width:100px;
	 height:36px;
	 
	 background-color:#e4e4e4;
}
.actualsubmit{
	 background: url(actual.png) no-repeat;
	 width:100px;
	 height:36px;
	 position:relative;
	 left:-0.6em;
	 background-color:#e4e4e4;
}
.bericsubmit{
	 background: url(beric.png) no-repeat;
	 width:100px;
	 height:36px;
	 position:relative;
	 left:-0.9em;
	 background-color:#e4e4e4;
}

.tab{
    background: url(tab.png) no-repeat;
	position:relative;
	top:2em;
	width:1500px;
}

.dummy{
	width:80px;
}
.header_div{
 background: #E4E4E4; 
 height: 41px; 
 margin-top: -60px;
 width:1280px;
}
.top_hmenu_ul
{
 float:left;
 width:100%;
 padding-left:7em;
 margin:0;
 list-style-type:none;
 margin-top: -16px;
}
.top_hmenu_a
{
 float:left;
 width:9em;
 text-decoration:none;
 color:#666666;
 background-color:#E4E4E4;
 padding: 1.3em.5em;
 border-right: 1px solid #CACACA;
 border-left: 1px solid #CACACA;
 text-align:center;
 font-family: Arial;
 font-size: 10px;


}
.top_hmenu_a:hover {background-color:#C0C0C0;}
.top_hmenu_li {
display:inline;
list-style-type: none; 
width: 100px; 
overflow-x: auto; 

margin-right: -8px;
}

.img{
  margin-left: -25em;
  padding-top: 8px;
  /* position: absolute; */
  /* left: 0px; */
  top: 0px;
  width: 16px;
  height: 16px;
}
.img_prep{
padding-left: 90px;
width: 16px;
height: 16px;
}
.img_dent{
padding-left : 1.9em;
}



@media screen and (max-width: 1020px){

.logo{
display:none;
}

.heading{
display:none;
}
.header_div{
 background: #E4E4E4; 
 height: 41px; 
 margin-top: -60px;
 width:928px;
}

.profile{
  position: relative;
  left: 25em;
  top: -33px;
  width: 40px;
}

.profilename1{
   position: relative;
  top: -74px;
  left: 445px;
  color: rgb(0, 146, 134);
  opacity: 1;
  font-family: Arial Regular, Arial;
}
.profilename2{
  position: relative;
  top: -57px;
  left: 398px;
  font-family: Arial Regular, Arial;
  font-size: 13px;
  color: #333333
}

.logout{
  position: relative;
  left: 45em;
  top: -6.8em;
}


input[type="button"] {
   position: relative;
  background: none;
  border: 0;
  font-size: 15px;
    font-size: 15px;
  color: rgb(0, 146, 134);
  opacity: 1;
  top: 23px;
  left: 58px;
}





}

@media screen and (max-width: 1246px){

.body{
width:100px;
}


.heading{
display:none;
}

.header_div{
 background: #E4E4E4; 
 height: 41px; 
 margin-top: -60px;
 width:928px;
}

.profile{
  position: relative;
  left: 25em;
  top: -33px;
  width: 40px;
}

.profilename1{
   position: relative;
  top: -74px;
  left: 445px;
  color: rgb(0, 146, 134);
  opacity: 1;
  font-family: Arial Regular, Arial;
}
.profilename2{
  position: relative;
  top: -57px;
  left: 398px;
  font-family: Arial Regular, Arial;
  font-size: 13px;
  color: #333333
}

.logout{
  position: relative;
  left: 45em;
  top: -6.8em;
}


input[type="button"] {
   position: relative;
  background: none;
  border: 0;
  font-size: 15px;
    font-size: 15px;
  color: rgb(0, 146, 134);
  opacity: 1;
  top: 23px;
  left: 58px;
}

}
