div {
	display: block;
}
.container1{
	position: absolute;
	left: 0px;
	top: 1px;
	height: 50px;
	display:block; 
	background:white;
}
.ABNAMRO-Logo{
	position: absolute;
	left: 18px;
	top: 10px;
	width: 237px;
	height: 32px;	
}
.header-topHeading{
	font-family: 'Arial';
	font-weight: 400;
	font-style: normal;
	font-size: 18px;
	color: #333333;
	text-align: left;
	line-height: normal;
	left: 279px;
	top: 11px;
	width: 221px;
	height: 22px;
    position: absolute;
}
.container2{
	display:block;
	height:50px;
	background-color:#f9f9f9;
	position: absolute;
	left: 0px;
	width:1320px;
	top:50px;
}
.triangleImg{
	top: -4px; 
	left: 18px; 
	position: relative;
}
@media screen and (max-width: 1320px){ {
  .container1{
    width: 100%;
  }
  .container2{
    width: 100%;
  }  
}
html, body{overflow:hidden;}
#container-main{
	background-color:#F9F9F9;
}
@media screen and (max-width: 768px) {
.hidden-text{
	display:none;
}
}