body{
	font-family: arial;
	font-size: 80%;
	line-height: 1.2em;
	width: 100%;
	padding: 0;
	background: #eee;
	min-width: 700px;
}
link{
cursor:pointer;
text-decoration: none;
}
a
{
color: grey;
}
.page{ padding: 20px; }

.error{
color:red;

}

.content{
	padding: 20px 0;
	background: white;
	clear: both;
	padding-bottom:20px;	
}
.logo{
	float:left;
	height:40px;
	width:242px;
	padding-right:20px;
	border:none;	
	}
.login{
	float:right;
	height:30px;
	width:100px;
	border:none;
	cursor:pointer;
	padding-right:10px;
	padding-bottom:10px;
	}
.DirectLogin
{
	border: 1px solid #F8F8F8;
	padding: 15px;
	background-color: #F8F8F8;
	padding-top: 1px;
}
.headingFont1{
	color: black;
	font-weight: normal;
	line-height: 1.1em;
	padding: 0 0 .5em 0;
	font-size: 1.5em;
	font-weight:bold;	
	}
.headingFont2{
	color: black;
	font-weight: normal;
	line-height: 1.6em;
	padding: 0 0 .5em 0;
	font-size: 1.5em;
	}
.headingFont3{
	color: black;
	font-weight: normal;
	line-height: 1.1em;
	padding: 0 0 .5em 0;
	font-size: 1.0em;
	}
.spanFont{
	font-size:13px;
	font-weight: normal;
	}
.rightAlign{
	float:left;
	padding-left:0;
	height:50px;
	width:400px;
	border:none;
	}
.leftAlign{
	float:left;
	padding-right:300px;
	height:40px;
	width:400px;
	border:none;	
	}
.bottomLeftAlign{
	float:left;
	padding-top:320px;
	padding-left:20px;
	padding-bottom:50px;
	height:40px;
	width:400px;
	border:none;	
	}
.ButtonRightAlign{
	float:left;
	padding-left:0;
	height:50px;
	width:70px;
	border:none;
	}
.ButtonLeftAlign{	
	float:left;
	padding-right:100px;
	padding-top:40px;
	height:60px;
	width:120px;
	border:none;	
	}
#admin_contents{
	float:right;
	margin-top:-31px;
	padding-left:80px;
	height:30px;
	width:100px;
	border:none;
	cursor:pointer;
	}

#text2{
font-size:2.5em;
}

#text3 {
font-size:1em;
}

#text4 {
font-size:2em;
}


.Contact_box_2 {	
	background-color:  #D8D0D0;
    padding: 25px;
    width: 1150px;
    height: 1000px;
    margin:5px;
    }
.Contact_box_2_1 {	
	background-color: white;
    width: 1100px;
	color:black; 
    padding: 25px;
    margin: 5px;
	height :900px;
	
    }


	
	

 
 .contact_Latest_notes{
 float:left;
 background-color: grey;
 text-align: center;
 padding: 25px;
 width: 1000px;
 height: 50px;
 margin:10px;
 }
 
 .contact_table_column1{
text-align:right;
width:180px;
padding-left: 100px;
}
.contact_table_tr{
height: 50px;
}
 .contact_bold{
 font-weight: bold;
 }


.contact_navigationPath
{
 
  border: 1px solid #D8D0D0;
  padding: 6px;
  background-color: #D8D0D0;
  display: inline-block;
  margin-top: 50px;
  margin-left: -250px;
   
}
.contact_table_space{
display:inline-block;
margin-left:360px;
margin-right:360px;
}
.contact_table_space1{
display:inline-block;
margin-left:20px;
margin-right:20px;
}

.contact_textheight{
height:30px;
width: 90px;
}

.contact_textheight1{
height:30px;
width: 150px;
}

.contact_textheight2{
height:30px;
width: 350px;
}



.contact_NP1
{

  font-weight: 100px;
  color: black;
  float: left;
}

.Contact_heading
{
 font-size: 2.5em;
 margin-left: 9px;
}
a
{
color: grey;
}



