.dashboard{
	width:1050px;
	border: 1px solid #AB9F9F;
	margin-left:2em;
	background-color: #f2f2f2;
}
.divinline{
	border-bottom: 1px solid #AB9F9F;
	width: 310px;
	height:217px;
	background: url(cross.png);
}

.contentimg{
  background: url(cross.png);
  width: 310px; /* Width of  image */
  height: 217px; /* Height of  image */
}

.toegelaten{
	padding-left:2em;
	font-size:14.5px;
	font-family: "Arial Regular", "Arial";
	font-style: normal;
	color: #333333;
}

.left-col {
    float: left;
    width:10%;
    margin-left:1em;
    border: 1px solid #AB9F9F;
    height:286px;
    width:310px;
}
.center-col {
    float: left;
    width: 62%;
    border: 1px solid #AB9F9F;
    height:286px;
    width:310px;
    margin-left:40px;
}
.right-col {
    float: left;
    width: 25%;
    border: 1px solid #AB9F9F;
    height:286px;
    width:310px;
    margin-left:40px;
}
.topform{
    width:1500px;
    height:350px;
}

.hideform{
    width:1500px;
    height:330px;
}

.contact{
    margin-left:650px;
	color: #333333;
	font-style:bold;
}
.actueel{
    margin-left:40px;
	color: #333333;
	font-style:bold;
}
.lowerdiv{
    margin-top:1em;            
}

.actualtable{
	border: 1px solid #AB9F9F;
	width:650px;
	float: left;
	height:110px;
	margin-left:1em;
}

.contacttable{
	border: 1px solid #AB9F9F;
	margin-left:750px;
	height:110px;
	width:250px;
}

.content{
	margin-top:2em;
	width:650px;
	border: 1px solid #AB9F9F;
	margin-left:1em;
}