/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */

}


/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF TWELVE  */
.span_12_of_12 {
	width: 80.76%;
}

.span_11_of_12 {
  	width: 74.03%;
}
.span_10_of_12 {
  	width: 67.3%;
}

.span_9_of_12 {
  	width: 60.57%;
}

.span_8_of_12 {
  	width: 53.84%;
}

.span_7_of_12 {
  	width: 47.11%;
}

.span_6_of_12 {
  	width: 40.38%;
}

.span_5_of_12 {
  	width: 33.65%;
}

.span_4_of_12 {
  	width: 26.92%;
}

.span_3_of_12 {
  	width: 20.19%;
}

.span_2_of_12 {
  	width: 13.467%;
}

.span_1_of_12 {
  	width: 6.7333%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS 
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
    
    .span_1_of_12, .span_2_of_12, .span_3_of_12, .span_4_of_12, .span_5_of_12, .span_6_of_12, .span_7_of_12, .span_8_of_12, .span_9_of_12, .span_10_of_12, .span_11_of_12, .span_12_of_12 {
	width: 100%; 
	}
}
*/
@media screen and (max-width: 320px) {
.container
{
width:100%
}
.col-xxs-12{
width:31.248%;
}
.col-xxs-11{
width:28.644%;
}
.col-xxs-10{
width:26.04%;
}
.col-xxs-9{
width:23.436%;
}
.col-xxs-8{
width:20.832%;
}
.col-xxs-7{
width:18.228%;
}
.col-xxs-6{
width:15.624%;
}
.col-xxs-5{
width:13.02%;
}
.col-xxs-4{
width:10.416%;
}
.col-xxs-3{
width:7.812%;
}
.col-xxs-2{
width:5.208%;
}
.col-xxs-1{
width:2.604%;
}
}

@media screen and (max-width: 480px) {
.container
{
width:100%
}
.col-xs-12{
width:54.12%;
}
.col-xs-11{
width:49.61%;
}
.col-xs-10{
width:45.1%;
}
.col-xs-9{
width:40.59%;
}
.col-xs-8{
width:36.08%;
}
.col-xs-7{
width:31.51%;
}
.col-xs-6{
width:27.06%;
}
.col-xs-5{
width:22.55%;
}
.col-xs-4{
width:18.04%;
}
.col-xs-3{
width:13.53%;
}
.col-xs-2{
width:9.02%;
}
.col-xs-1{
width:4.51%;
}
}
@media screen and (max-width: 768px) {
.container
{
width:100%
}
.col-sm-12{
width:71.352%;
}
.col-sm-11{
width:65.406%;
}
.col-sm-10{
width:59.46%;
}
.col-sm-9{
width:53.514%;
}
.col-sm-8{
width:47.568%;
}
.col-sm-7{
width:41.622%;
}
.col-sm-6{
width:35.676%;
}
.col-sm-5{
width:29.73%;
}
.col-sm-4{
width:23.784%;
}
.col-sm-3{
width:17.838%;
}
.col-sm-2{
width:11.892%;
}
.col-sm-1{
width:5.946%;
}
}

/* @media screen and (max-width: 992px){
.container
{
width:100%
}
.col-md-12{
width:71.352%;
}
.col-md-11{
width:65.406%;
}
.col-md-10{
width:59.46%;
}
.col-md-9{
width:53.514%;
}
.col-md-8{
width:47.568%;
}
.col-md-7{
width:41.622%;
}
.col-md-6{
width:35.676%;
}
.col-md-5{
width:29.73%;
}
.col-md-4{
width:23.784%;
}
.col-md-3{
width:17.838%;
}
.col-md-2{
width:11.892%;
}
.col-md-1{
width:6.317%;
}
}

@media screen and (max-width: 1320px){
.container
{
width:100%
}
.col-md-12{
width:71.352%;
}
.col-md-11{
width:65.406%;
}
.col-md-10{
width:59.46%;
}
.col-md-9{
width:53.514%;
}
.col-md-8{
width:47.568%;
}
.col-md-7{
width:41.622%;
}
.col-md-6{
width:35.676%;
}
.col-md-5{
width:29.73%;
}
.col-md-4{
width:23.784%;
}
.col-md-3{
width:17.838%;
}
.col-md-2{
width:11.892%;
}
.col-md-1{
width:5.946%;
}
} */

@media (min-width: 992px) {

.container{
width:100%;
}
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  
.col{
margin-left:10px;
margin-right:10px;
}
  
  }

.col {
	display: block;
	float:left;
	margin-left:10px;
	margin-right:10px;
	background-color:blue;
	height:	100vh;
}

/* .col:first-child {
margin-left:-10px;
}
.col:last-child {
margin-right:-10px;
} */