.logo{
	background: url("abnlogo.png") no-repeat;
	width: 300px; /* Width of  image */
	height:40px;
	position: absolute;
	left:2em;
	top:1.5em;
}

.heading{
    position:relative;
	left:17em;
	font-size:20px;
	top:0.7em;
}

.profile{
    background: url("pic.png") no-repeat;
	position:relative;
	left: 5em;
	top: 3.5em;
	height: 40px;
	width: 40px;
}

.profilename{
	position:relative;
	top : -5em;
	padding-left: 33em;
}

.div_naamlaatst{
	padding-left: 8em;
	padding-top: 1em;
}

.logout{
	position:relative;
	left: 53em;
	top: -6.2em;
}

input[type="button"] {
   background: none;
   border: 0;
   font-size:15px;
}

.name{
	border: 0;
}

.dashboardsubmit{
	 background: url("dashboard.png") no-repeat;
	 width:100px;
	 height:36px;
	 background-color:#e4e4e4;
}

.porpositsubmit{
	 background: url("proposit.png") no-repeat;
	 width:100px;
	 height:36px;
	 
	 background-color:#e4e4e4;
}
.actualsubmit{
	 background: url("actual.png") no-repeat;
	 width:100px;
	 height:36px;
	 position:relative;
	 left:-0.6em;
	 background-color:#e4e4e4;
}
.bericsubmit{
	 background: url("beric.png") no-repeat;
	 width:100px;
	 height:36px;
	 position:relative;
	 left:-0.9em;
	 background-color:#e4e4e4;
}

.tab{
    background: url("tab.png") no-repeat;
	position:relative;
	top:2em;
	width:1500px;
}

.dummy{
	width:80px;
}
.header_div{
 background: #E4E4E4; 
 height: 41px; 
 margin-top: -60px;
}
.top_hmenu_ul
{
 float:left;
 width:100%;
 padding-left:7em;
 margin:0;
 list-style-type:none;
 margin-top: -16px;
}
.top_hmenu_a
{
 float:left;
 width:9em;
 text-decoration:none;
 color:black;
 background-color:#E4E4E4;
 padding: 1.3em.5em;
 border-right: 1px solid #CACACA;
 border-left: 1px solid #CACACA;
 text-align:center;
 font-family: Arial;
 font-size: 10px;


}
.top_hmenu_a:hover {background-color:#C0C0C0;}
.top_hmenu_li {
display:inline;
list-style-type: none; 
width: 100px; 
overflow-x: auto; 

margin-right: -8px;
}

.img{
  margin-left: -25em;
  padding-top: 8px;
  /* position: absolute; */
  /* left: 0px; */
  top: 0px;
  width: 16px;
  height: 16px;
}
.img_prep{
padding-left: 90px;
width: 16px;
height: 16px;
}
.img_dent{
padding-left : 2em;
}
