html, body, div, span, object, iframe,
h1, h2, h3, address, code,
del, dfn, em, i, img, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, q, dl, dt, dd, ul, ol, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: inherit;
	font-family: inherit;
}

/* General
-------------------------------------------------- */
html {
	-webkit-text-size-adjust: 100%;
	  background: #FFFFFF;
}

main {
	margin: 0 auto 5px;
	padding-top: 28px;
	display: block;
}

body {
	font: 15px/22px Arial, Helvetica, sans-serif;
	color: #333;
	background: linear-gradient(to bottom, #F1F1F1 0%, #F1F1F1 374px, #F9F9F9 700px) #F9F9F9;
	min-width: 320px;
}

img {
	max-width: 100%;
}

img[style][height] {
	/* img in rtf gets a height attribute causing problems when scaling width */
	height: auto !important;
}
@media screen and (min-width: 320px) {
.container
{
width:320px;
}
.col-xxs-1, .col-xxs-2, .col-xxs-3, .col-xxs-4, .col-xxs-5, .col-xxs-6, .col-xxs-7, .col-xxs-8, .col-xxs-9, .col-xxs-10, .col-xxs-11, .col-xxs-12{
float:left;
}
.col-xxs-12{
width:99.9%;
}
.col-xxs-11{
width:91.3%;
}
.col-xxs-10{
width:82.04%;
}
.col-xxs-9{
width:73.436%;
}
.col-xxs-8{
width:64.832%;
}
.col-xxs-7{
width:55.7%;
}
.col-xxs-6{
width:46.7%;
}
.col-xxs-5{
width:38.02%;
}
.col-xxs-4{
width:29.16%;
}
.col-xxs-3{
width:20.2%;
}
.col-xxs-2{
width:11.45%;
}
.col-xxs-1{
width:2.604%;
}
.col-xxs-offset-4{
margin-left:29.16%;
}
}

@media screen and (min-width: 480px) {
.container
{
width:480px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12{
float:left;
}
.col-xs-12{
width:99.9%;
}
.col-xs-11{
width:91.3%%;
}
.col-xs-10{
width:82.6%;
}
.col-xs-9{
width:73.9%;
}
.col-xs-8{
width:65.3%;
}
.col-xs-7{
width:56.51%;
}
.col-xs-6{
width:47.96%;
}
.col-xs-5{
width:39.2%;
}
.col-xs-4{
width:30.7%;
}
.col-xs-3{
width:21.8%;
}
.col-xs-2{
width:13.2%;
}
.col-xs-1{
width:4.51%;
}

}
@media screen and (min-width: 768px) {
.container
{
width:768px;
}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12{
float:left;
}
.col-sm-12{
width:99.9%;
}
.col-sm-11{
width:91.5%;
}
.col-sm-10{
width:82.9%;
}
.col-sm-9{
width:74.3%;
}
.col-sm-8{
width:65.8%;
}
.col-sm-7{
width:57.2%;
}
.col-sm-6{
width:48.6%;
}
.col-sm-5{
width:40.2%;
}
.col-sm-4{
width:31.6%;
}
.col-sm-3{
width:23%;
}
.col-sm-2{
width:14.5%;
}
.col-sm-1{
width:5.946%;
}
.col:first-child {
margin-left:-10px;
}
.col:last-child {
margin-right:-10px;
}
}

 @media screen and (min-width: 992px){
.container
{
width:992px
}
.col-md-12{
width:97.9%;
}
.col-md-11{
width:89.7%;
}
.col-md-10{
width:81.3%;
}
.col-md-9{
width:72.9%;
}
.col-md-8{
width:64.68%;
}
.col-md-7{
width:56.3%;
}
.col-md-6{
width:47.9%;
}
.col-md-5{
width:39.7%;
}
.col-md-4{
width:31.3%;
}
.col-md-3{
width:22.9%;
}
.col-md-2{
width:14.6%;
}
.col-md-1{
width:6.317%;
}

.col-md-offset-12{
margin-left:97.9%;
}
.col-md-offset-11{
margin-left:89.7%;
}
.col-md-offset-10{
margin-left:81.3%;
}
.col-md-offset-9{
margin-left:72.9%;
}
.col-md-offset-8{
margin-left:64.68%;
}
.col-md-offset-7{
margin-left:56.3%;
}
.col-md-offset-6{
margin-left:47.9%;
}
.col-md-offset-5{
margin-left:39.7%;
}
.col-md-offset-4{
margin-left:31.3%;
}
.col-md-offset-3{
margin-left:22.9%;
}
.col-md-offset-2{
width:14.6%;
}
.col-md-offset-1{
margin-left:6.317%;
}

}

 @media screen and (min-width: 1320px){
.container
{
width:1320px;
}
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{
float:left;
}
.col-md-12{
width:98.485%;
}
.col-md-11{
width:90.18%;
}
.col-md-10{
width:81.82%;
}
.col-md-9{
width:73.54%;
}
.col-md-8{
width:65.2%;
}
.col-md-7{
width:56.82%;
}
.col-md-6{
width:48.49%;
}
.col-md-5{
width:40.16%;
}
.col-md-4{
width:31.82%;
}
.col-md-3{
width:23.49%;
}
.col-md-2{
width:15.16%;
}
.col-md-1{
width:6.82%;
}

.col-md-offset-12{
margin-left:98.485%;
}
.col-md-offset-11{
margin-left:90.18%;
}
.col-md-offset-10{
margin-left:81.82%;
}
.col-md-offset-9{
margin-left:73.54%;
}
.col-md-offset-8{
margin-left:65.2%;
}
.col-md-offset-7{
margin-left:56.82%;
}
.col-md-offset-6{
margin-left:48.49%;
}
.col-md-offset-5{
margin-left:40.16%;
}
.col-md-offset-4{
margin-left:31.82%;
}
.col-md-offset-3{
margin-left:23.49%;
}
.col-md-offset-2{
margin-left:15.16%;
}
.col-md-offset-1{
margin-left:6.82%;
}


} 
.row
{
margin-left:0px;
margin-right:0px;
}
 .container{
 padding-right:0px;
 padding-left:0px;
 margin-right:auto;
 margin-left:auto;
 max-width:1320px;
 
 } 

.col {
	display: block;
	float:left;
	margin-left:10px;
	margin-right:0px;
	background-color:none;
	height:	100px;
}

#triangle{
  position: absolute;
  left: 13px;
  top: -20px;
}
.tbl1
{
background: #FFFFFF url(username.png) no-repeat 4px 4px;
  height: 0px;
    width: 80%;
  color: #555;
  text-shadow: 0 1px #FFF;
  padding: 12px 12px 12px 45px
}

.tbl2
{
background: #FFFFFF url(password.png) no-repeat 4px 4px;
  height: 0px;
    width: 80%;
  color: #555;
  text-shadow: 0 1px #FFF;
  padding: 12px 12px 12px 45px
}
@media only screen and (max-width: 784px) {
.hidden-text{
display: none;
}
}